{% extends 'base.html.twig' %}

{% block title %}Hello HelpController!{% endblock %}

{% block body %}
    <section class="menu1 menu horizontal-menu cid-s329LoNSlx" id="menu1-19">

        <!-- <div class="menu-wrapper"> -->
        <nav class="navbar navbar-dropdown navbar-expand-lg navbar-fixed-top">
            <div class="menu-container container-fluid mbr-px-2">
                <!-- SHOW LOGO -->
                <div class="navbar-brand">

                    <span class="navbar-caption-wrap"><a class="navbar-caption  text-black display-6 display-5" href="#">ProductAMP</a></span>
                </div>
                <!-- SHOW LOGO END -->
                <!-- COLLAPSED MENU -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- NAVBAR ITEMS -->
                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                            <a class="nav-link link text-black display-4" href="women.html">Women</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-black display-4" href="men.html">Men</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link link  dropdown-toggle text-black display-4" data-toggle="dropdown-submenu" aria-expanded="false">Explore</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-black display-4" href="#">Sunglasses</a>
                                <a class="dropdown-item text-black display-4" href="#">Belts</a><a class="text-black dropdown-item display-4" href="#" aria-expanded="false">Accessories </a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link link  text-black display-4" href="contact.html" aria-expanded="false">Contacts</a></li>
                        <li class="nav-item"><a class="nav-link link  text-black display-4" href="help.html" aria-expanded="false">Help</a></li></ul>
                    <!-- NAVBAR ITEMS END -->
                    <!-- SOCIAL ICON -->
                    <div class="menu-social-list">






                        <a href="#" target="_blank">
                            <span class="amp-iconfont animation-normal fa-twitter-square fa"><svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1408 610q-56 25-121 34 68-40 93-117-65 38-134 51-61-66-153-66-87 0-148.5 61.5t-61.5 148.5q0 29 5 48-129-7-242-65t-192-155q-29 50-29 106 0 114 91 175-47-1-100-26v2q0 75 50 133.5t123 72.5q-29 8-51 8-13 0-39-4 21 63 74.5 104t121.5 42q-116 90-261 90-26 0-50-3 148 94 322 94 112 0 210-35.5t168-95 120.5-137 75-162 24.5-168.5q0-18-1-27 63-45 105-109zm256-194v960q0 119-84.5 203.5t-203.5 84.5h-960q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960q119 0 203.5 84.5t84.5 203.5z"></path></svg></span>
                        </a><a href="#" target="_blank">
                            <span class="amp-iconfont animation-normal fa-instagram fa"><svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1152 896q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm138 0q0 164-115 279t-279 115-279-115-115-279 115-279 279-115 279 115 115 279zm108-410q0 38-27 65t-65 27-65-27-27-65 27-65 65-27 65 27 27 65zm-502-220q-7 0-76.5-.5t-105.5 0-96.5 3-103 10-71.5 18.5q-50 20-88 58t-58 88q-11 29-18.5 71.5t-10 103-3 96.5 0 105.5.5 76.5-.5 76.5 0 105.5 3 96.5 10 103 18.5 71.5q20 50 58 88t88 58q29 11 71.5 18.5t103 10 96.5 3 105.5 0 76.5-.5 76.5.5 105.5 0 96.5-3 103-10 71.5-18.5q50-20 88-58t58-88q11-29 18.5-71.5t10-103 3-96.5 0-105.5-.5-76.5.5-76.5 0-105.5-3-96.5-10-103-18.5-71.5q-20-50-58-88t-88-58q-29-11-71.5-18.5t-103-10-96.5-3-105.5 0-76.5.5zm768 630q0 229-5 317-10 208-124 322t-322 124q-88 5-317 5t-317-5q-208-10-322-124t-124-322q-5-88-5-317t5-317q10-208 124-322t322-124q88-5 317-5t317 5q208 10 322 124t124 322q5 88 5 317z"></path></svg></span>
                        </a><a href="#" target="_blank">
                            <span class="amp-iconfont animation-normal fa-facebook-square fa"><svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1376 128q119 0 203.5 84.5t84.5 203.5v960q0 119-84.5 203.5t-203.5 84.5h-188v-595h199l30-232h-229v-148q0-56 23.5-84t91.5-28l122-1v-207q-63-9-178-9-136 0-217.5 80t-81.5 226v171h-200v232h200v595h-532q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960z"></path></svg></span>
                        </a></div>
                    <!-- SOCIAL ICON END -->
                    <!-- SHOW BUTTON -->

                    <!-- SHOW BUTTON END -->
                </div>
                <!-- COLLAPSED MENU END -->

                <button on="tap:sidebar.toggle" class="ampstart-btn hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>
        <!-- AMP plug -->

        <!-- </div> -->
    </section>

    <section class="header1 cid-s329LqqU6i" id="header01-1a">


        <div class="container-fluid mbr-white">
            <div class="mbr-row">
                <div class="mbr-col-lg-5 mbr-col-md-12 mbr-m-auto mbr-col-sm-12 md-pb">
                    <div class="content">

                        <h1 class="mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1">Sunglasses Shop</h1>
                        <p class="mbr-fonts-style mbr-text align-left mbr-pb-5  display-7">Unique glasses for a new era
                            of fashion.</p>
                        <div class="mbr-section-btn align-left"><a class="btn btn-md btn-white-outline display-4" href="#"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="19" height="19"><path d="M24 11l-6.7 6.7-1.4-1.4 4.3-4.3H0v-2h20.2l-4.3-4.3 1.4-1.4L24 11z"></path></svg></span>Discover</a>
                        </div>
                    </div>
                </div>
                <div class="mbr-col-lg-7 mbr-col-md-12 img-col mbr-m-auto mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/01.jpg" alt="" width="1099.8670212765958" height="919" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ampFeatures2 cid-s32acKsUxn" id="ampFeatures2-1o">



        <div class="container">
            <div class="title mbr-pb-4">
                <h3 class="mbr-section-title mbr-pb-3 mbr-semibold mbr-white mbr-fonts-style display-1">Features</h3>

            </div>
            <div class="mbr-row">
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6 md-pb">
                    <div class="card-wrapper">

                        <div class="card-box mbr-m-auto mbr-pt-3">
                            <h3 class="card-title mbr-semibold mbr-white mbr-fonts-style display-5">Set
                                Priorities Correctly</h3>

                            <p class="card-text mbr-fonts-style mbr-white mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                                sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                                vestibulum enim, a gravida odio congue nec.</p>

                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6 md-pb">
                    <div class="card-wrapper">

                        <div class="card-box mbr-m-auto mbr-pt-3">
                            <h3 class="card-title mbr-semibold mbr-white mbr-fonts-style display-5">Сonsider All
                                The Factors</h3>

                            <p class="card-text mbr-white mbr-fonts-style mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                                sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                                vestibulum enim, a gravida odio congue nec. </p>

                        </div>
                    </div>
                </div>
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6">
                    <div class="card-wrapper">

                        <div class="card-box mbr-m-auto mbr-pt-3">
                            <h3 class="card-title mbr-white mbr-semibold mbr-fonts-style display-5">Use The Best
                                Tools</h3>

                            <p class="card-text mbr-white mbr-fonts-style mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                                sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                                vestibulum enim, a gravida odio congue nec. </p>

                        </div>
                    </div>
                </div>
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6 last-child">
                    <div class="card-wrapper">

                        <div class="card-box mbr-m-auto mbr-pt-3">
                            <h3 class="card-title mbr-semibold mbr-white mbr-fonts-style display-5">Analyze
                                Competitors</h3>

                            <p class="card-text mbr-white mbr-fonts-style mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                                sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                                vestibulum enim, a gravida odio congue nec. </p>

                        </div>
                    </div>
                </div>
                <div class="mbr-col-md-12 mbr-col-lg-12 mbr-col-sm-12">

                    <div class="card-btn mbr-pt-4 mbr-section-btn mbr-pt-2"><a class="btn btn-white-outline display-4" href="#">Read More</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="content1 cid-s329LrFpw4" id="content01-1b">


        <div class="container">
            <div class="mbr-row mbr-jc-c">
                <div class="mbr-col-lg-8 mbr-col-md-12 mbr-col-sm-12">
                    <h3 class="mbr-section-subtitle mbr-black mbr-fonts-style mbr-pb-1 align-center display-5">
                        Learn more about our brand</h3>
                    <p class="mbr-fonts-style mbr-text align-center display-5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo suscipit vulputate.
                        Maecenas rutrum mollis arcu, at condimentum lorem <a href="#" class="text-black">@mobirise</a>.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="clients1 cid-s329LGN3N2" id="clients01-1k">


        <div class="container">
            <div class="mbr-row mbr-jc-c">
                <div class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                    <h3 class="mbr-section-subtitle mbr-black mbr-fonts-style mbr-pb-5 align-left display-5">Seen on
                        Press</h3>
                    <p class="mbr-fonts-style mbr-text align-left mbr-pb-3 display-5">"Lorem ipsum dolor sit amet consectetur adipiscing
                        commodo suscipit"</p>
                </div>

                <div class="line"></div>

                <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/1.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>

                </div>

                <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/2.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>

                </div>
                <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/3.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>

                </div>
                <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/4.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>

                </div>
                <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/5.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>

                </div>
                <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/1.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>

                </div>
                <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/2.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>

                </div>
                <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/3.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>

                </div>
                <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/4.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>

                </div>

                <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                    <div class="img-wrapper">
                        <amp-img src="assets/images/5.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                            <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

                        </amp-img>
                    </div>

                </div>

            </div>
        </div>
    </section>
{% endblock %}
