{% extends 'base.html.twig' %}

{% block title %}Hello CGVController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Conditions Générales d'Utilisations</h1>
        <br>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet architecto delectus dicta dignissimos ex facere itaque laudantium magnam nihil nisi officiis perferendis, quasi quidem, quis repellendus tempora unde!</p>
    </div>
{% endblock %}
